.asu {
    width: 70%;
    height: auto;
}
#logo-landing {
    width: 60%;
    height: auto;
}


@media (max-width: 440px) {
    .landing-text {
        font-size: 2rem!important;
    }

    .landing-nama {
        font-size: 2rem!important;
    }

    .landing-gelar {
        font-size: 1rem!important;
    }

    .jadwal-praktek {
        font-size: 13px;
    }

    .picker__list-item {
        position: relative;
        padding: 7px 12px;
        font-size: 13px;
    }

    .picker--time {
        min-width: 100px;
        max-width: 100px;
    }

    .table td, .table th {
        padding: 0.2rem 0.5rem;
    }
}



